*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(6, 6, 6);
  color: white;
}
.curds{
  width: 80%;
  margin: auto;
}
.title-p{
  text-align: center;
  margin: 2rem;
  line-height: 50px;
}
.btn-h{
  font-size: 2.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(206, 218, 225);
}
.btn-p{
  background: linear-gradient(90deg, #f4f7f8 0%, #cbcee3 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 25px;
}
input{
  width: 100%;
  height: 30px;
  border: 1px solid dodgerblue;
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px 15px;
  background: transparent;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.btn input{
  width: 20%;
}
#total{
  background-color: cadetblue;
  padding: 6px 5px;
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 4px;
}
#total::before{
  content: 'total : ';
}
button{
  width: 100%;
  margin-left: 20px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid dodgerblue;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  transition:  0.5s ease;
}
button:hover{
  background-color: #3d84b6;
}
/* this is a recreation of twitter search in css */
.form {
  --input-text-color: #fff;
  --input-bg-color: #283542;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 100%;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
  margin-top: 10px;
  margin-left: 18px;
}
/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 10px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,.close-btn {
  position: absolute;
}
/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
/* svg -- size */
svg {
  width: 17px;
  display: block;
}
/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
  margin-top: 15px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
.input:focus ~ .search {
  fill: var(--active-color);
}
/* showing close button when typing */
.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}
/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
.btn-1{
  display: flex;
  margin-top: 15px;
}
table{
  width: 100%;
  text-align: center;
  margin: 10px 0;
} 
th,td{
  padding: 5px;
  text-transform: uppercase;
  font-size: 25px;
}

#update{
  border: 1px solid rgb(5, 237, 51);
  width: 110px;
  text-align: center;
}
#update:hover{
  background-color: rgb(7, 194, 14);
  color: white;
}
#deleted{
  border: 1px solid rgb(233, 4, 4);
  width: 115px;
  text-align: center;
}
#deleted:hover{
  background-color: rgb(240, 8, 8);
  color: white;
}